*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html, body{
    background-color: rgb(209, 209, 209);
    font-family: sans-serif;

}
.title{
    padding:20px;
    text-align: center;
}
/* NAVBAR */
.navbar{
    display: grid;
    align-items: center;
    grid-template-rows: 50px;
    grid-template-columns: repeat(10,1fr);
    text-align: center;
}
.icon-menu{
    display: block;
    width:30px;
    height: 30px;
    position: absolute;
    margin:10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding:5px;
}
.menu{
    grid-column: 1/9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.session{
    grid-column: 9/11;
    grid-row: 1/1;
    display: flex;
    justify-content: space-around;
}
.session-items{
    width:auto;
    height: auto;
    border-radius: 5px;
    /* border: 2px solid rgb(131, 53, 53); */
    background-color: rgb(57, 85, 160);
    color:rgb(236, 236, 236);
    padding:7px;
    transition: filter .2s;
    cursor: pointer;
}
.session-start{

}
.session-reg{
    
}
.session-items:hover{
    filter: invert(1);
}
/* BOTON */
.button-run{
    width:80px;
    height: 35px;
    border-radius: 2px;
    border: none;
    display: block;
    margin:auto;
    background-color: rgb(4, 95, 4);
    font-weight:500;
    font-size: 16px;
    color:rgb(219, 217, 217);
    cursor: pointer;
    transition: transform .2s , background-color .2s;
}
.button-run:hover{
    transform: scale(102%);
    background-color: rgb(1, 70, 1);
}
/* PARTE CENTRAL */
.central{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap:3vw; */
    margin: 25px 0;
    flex-wrap: wrap;
}

/* CODE AREA */
.codeArea{
    /* background-color: rgb(82, 79, 79); */
    width: 45vw;
    height: 450px;
    /* margin: 20px 0 20px 0; */
}
.code{
    width: 45vw;
    height: 450px;
    padding:10px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(37, 37, 37);
    color:rgb(4, 141, 38);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.02em;
    overflow-y: scroll;
}
.code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.code::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 4px;
}
.code::-webkit-scrollbar-track {
    background: #0c0c0c;
    border-radius: 4px;
}



/* BOARD */
.container-board{
    background-color: rgb(201, 201, 201);
    width: 45vw;
    height: 450px;
    border: 2px solid black;
    border-radius: 3px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.container-board::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.container-board::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 2px;
}
.container-board::-webkit-scrollbar-track {
    background: #0c0c0c;
    border-radius: 2px;
}


/* TERMINAL */
.terminal{
    background-color: rgb(29, 29, 29);
    border-top: 2px solid rgb(0, 0, 0);
    
    margin:0px auto;
}
.terminal-display{
    width:90vw;
    height: 100px;
}
.terminal-input{
    width: 100%;
    height: 30px;
    background-color: #5a5a5a;
    outline: none;
    border: none;
    padding:5px;
    font-weight: bold;
}